<div>
    <h1>Carrito</h1>
    <ul>
        <p>esta es una prueba</p>
        {{#each cartFound.Products}}
        <li>
            <p>Id:{{this.product._id}}</p>
            <p>Title:{{this.product.Title}}</p>
            <p>Price:{{this.product.Price}}</p>
        </li>
        {{/each}}
    </ul>
</div>