<div>
    <h1>Carrito</h1>
    <ul>
        <p>esta es una prueba</p>
        {{#each carts}}
        <li>{{_id}}</li>
        {{/each}}
        {{#each cart.Product}}
        <li>{{this._id}}</li>
        <li>{{this.Title}} - ${{this.Price}}</li>
        {{/each}}
    </ul>
</div>